body{
width: 40vw;
    margin: auto;
}

h1{
    background-color: black;
    color: dimgray;
    text-align: center;
}

h2{
text-align: center;


}

p{
text-align: justify;


}
.paragrafo{
background-color: aqua;
}